@font-face {
    font-family: 'icomoon';
    src: url("fonts/icomoon.ttf");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'satisfy';
    src: url("fonts/Satisfy-Regular.ttf");
}
@font-face {
    font-family: 'garamond';
    src: url("fonts/EBGaramond-Regular.ttf") format("opentype");
}

* {
    --accent: #977592;
    --text: #000;
    --weak-text: #666;
}

#countdown {
    color:var(--weak-text)
}

.content.visible {
    /* display:block; */
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }

.content.hidden {
    /* display:none; */
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
  }

.flex {
    display:flex;
    justify-content: center;
    flex-wrap:wrap;
}

h1 {
    font-size:4em;
    font-weight:normal;
    padding-top:1.5em;
    font-family:'satisfy';
    color:var(--accent);
    /* text-shadow:#000; */
}
h2 {
    font-size:1.5em;
    font-family: 'garamond';
}

p {
    font-size: 20px;
    text-align: center;
    font-family: 'garamond';
}

.header {
    text-align: center;
}
/* .header h1 {

} */
* {
    transition: all .1s ease-in-out;
    /* transition: all .2s ease-in-out; */
}
body {
    /* background-color:rgb(255, 240, 240); */
    background-image:url("images/background.png");
    background-size:cover;
    background-repeat:no-repeat;
    line-height:1.5;
}

/******************* 
NAVIGATION BAR
********************/

.nav-element {
    /* background-color: grey; */
    padding:0px 10px 0px 10px;
    margin: 0px 10px 0px 10px;
    cursor:pointer;
    text-decoration: underline;
    text-shadow:0px 0px 0px black;
    background-color:rgba(255, 255, 255, 0.3)
    /* border-radius: 10px 10px 0px 0px; */
    /* border-bottom: 10px; */
}

.nav-element:hover {
    text-decoration:none;
    /* font-weight: 500; */
    background-color:rgba(255, 255, 255, 0.5);
    text-shadow:0px 0px 1px black;
}

.unavailable {
    text-decoration:line-through;
    color: var(--weak-text)
}

.nav-bar {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin-top:2em;
    padding: 0.5em;
}

.nav-element.hidden {
    /* display:none; */
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear; */
    text-decoration:underline;
}
.nav-element.visible {
    /* display:none; */
    /* visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear; */
    text-decoration:none;
}

/* .nav-selected */

/******************* 
MAIN SITE STRUCT.
********************/

.content {
    /* display:none; */
    padding:2em;
    position: absolute;
    width:98%;
    margin-left:1%;
    margin-right:1%;
    box-sizing: border-box;
}
a {
    color:white;
}

a:visited {
    color:white;
}
a:hover {
    text-decoration:none;
}
.nolink {
    text-decoration:none;
}

/******************* 
INTRO
********************/

#intro-d {
    height:100%;
    /* background-color:rgb(169, 189, 169); */
    background-image:url(images/trio-cover.JPG);
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    
    /* display:block; */
    border-bottom-width: 0px;
    padding-bottom: 2px; 
    
    box-shadow: inset 0px 3px 10px 0px rgba(60, 60, 60, 0.60);
    box-sizing: border-box;
}

#intro-d img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:80%
    /* width: 50%; */
}

/******************* 
GARBAGE
********************/

#other {
    background-color:rgb(198, 154, 210);
}
#extra {
    background-color:rgb(154, 165, 210);
}


/******************* 
RSVP FORM 
********************/

#rsvp-form .flex {
    padding-top:0.5em;
    padding-bottom:0.5em;
}
#rsvp-form input {
    text-align:center;
}
#formSubmit {
    margin-top:1em;
}
input {
    font-family:'garamond'
}

input[type=text] {
    padding: 0.5em;
}
input[type=text],input[type=text] {
    /* width:fit-content; */
    /* width:auto */
    border-radius: 5px;
    border: none;
    outline: none;
    border-bottom: 4px solid #b775ad;
    /* transition: width 1s linear; */
}
input[type=text]:focus,input[type=number]:focus {
    border: none;
    border-bottom: 4px solid #e2aeda;
    /* width:15%; */
}


input[type=number] {
    width:2em;
    /* padding-left:1em; */
}

input[type=radio] {
    margin-left:2em;
}
input[type=radio]:checked {
    /* margin-left:2em; */
    background-color:rgb(0, 255, 55);
}

label {
    padding-right:0.2em;
    padding-left:0.5em;
}

/******************* 
LODGING INFO
********************/

.infobox h1 {
    font-weight:600;
    padding-top:0;
    color: #eab2e1;
    font-size:3em;
}
#lodging-d .centered {
    width:50%;
    margin:auto;
}

#lodging-d em {
    font-weight: 800;
    /* text-decoration: underline; */
}

.infobox h2 {
    font-size:1.2em;
}

div.infobox {
    text-align:center;
    padding:1.2em;
    margin:0.5em;
    box-shadow: inset 0 0 0 1000px rgba(57, 64, 57, 0.5);
    /* background-color: rgba(203, 210, 203, 0.589); */
    border-radius:10px;
    width:30%;
    background-size:cover;
    background-position:center;
    color:white;
}
#lodging-d ul {
    list-style-type:disc;
    list-style-position:inside;
}

/******************* 
IMAGE GALLERY 
********************/

#gallery img {
    padding: 1em 1em 1em 1em;
    size:initial;
    width:15em;
    /* height:fit-content; */
    object-fit:contain;
}


/******************* 
SCHEDULE 
********************/

#schedule-d {
    margin-bottom: 0;
    padding-top: 0.2em;
    font-size: 2em;
}
#schedule-d a{
    color:rgb(224, 224, 224);
    text-decoration: underline;
    /* font-family: 'heinig', 'Brotherhood Script', normal; */
    font-style: italic;
    font-weight: bold;
}
#schedule-d a:hover{
    text-decoration:none;
}

#schedule-d {
    /* font-size:0.5em; */
    text-align:center;
    padding-bottom:0;
    box-shadow: inset 0px 3px 10px 0px rgba(255, 255, 255, 0.6); 
}
/* .sch-sec {
    background-color:rgba(121, 171, 122, 0.6);
} */

/* timeline from https://codepen.io/alvarotrigo/pen/BawBzjM */

/* body {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
  }
  
  Timeline Container */

  
  /* Card container */
  .card {
    position: relative;
    margin: auto;
    max-width: 75%;
  }
  
  /* setting padding based on even or odd */
  .card:nth-child(odd) {
    padding: 30px 0 30px 30px;
  }
  .card:nth-child(even) {
    padding: 30px 30px 30px 0;
  }
  /* Global ::before */
  .card::before {
    content: "";
    position: absolute;
    width: 50%;
    border: solid var(--accent);
  }
  
  /* Setting the border of top, bottom, left */
  .card:nth-child(odd)::before {
    left: 0px;
    top: -4.5px;
    bottom: -4.5px;
    border-width: 5px 0 5px 5px;
    border-radius: 50px 0 0 50px;
  }
  
  /* Setting the border of top, bottom, right */
  .card:nth-child(even)::before {
    right: 0;
    top: 0;
    bottom: 0;
    border-width: 5px 5px 5px 0;
    border-radius: 0 50px 50px 0;
  }
  
  /* Removing the border if it is the first card */
  .card:first-child::before {
    border-top: 0;
    border-top-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's odd */
  .card:last-child:nth-child(odd)::before {
    border-bottom: 0;
    border-bottom-left-radius: 0;
  }
  
  /* Removing the border if it is the last card  and it's even */
  .card:last-child:nth-child(even)::before {
    border-bottom: 0;
    border-bottom-right-radius: 0;
  }
  
  /* Information about the timeline */
  .info {
    display: flex;
    flex-direction: column;
    /* background-color: rgba(255, 255, 255, 0.815); */
    box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.771);
    background-size:cover;
    background-position:center;
    color: var(--text);
    border-radius: 10px;
    padding: 10px;
  }
  
  /* Title of the card */
  .title {
    color: var(--accent);
    position: relative;
  }
  
  /* Timeline dot  */
  .title::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background: white;
    border-radius: 999px;
    border: 3px solid var(--accent);
  }
  
  /* text right if the card is even  */
  .card:nth-child(even) > .info > .title {
    text-align: right;
  }
  .card:nth-child(odd) > .info > .title {
    text-align: left;
  }
  
  /* setting dot to the left if the card is odd */
  .card:nth-child(odd) > .info > .title::before {
    left: -45px;
  }
  
  /* setting dot to the right if the card is odd */
  .card:nth-child(even) > .info > .title::before {
    right: -45px;
  }